@media only screen and (max-width: 376px ) {
  /* Header (start) */
  .header-cont {
    max-width: unset;
    min-width: unset;
    padding: var(--padding);
    margin: var(--margin) 0;
  }

  .page-banner .logo {
    width: 35px;
    height: 35px;
  }

  .page-banner .page-title {
    font-size: 1.3rem;
  }

  .page-banner {
    margin: 0;
  }

  .page-subtitle {
    font-size: 0.6rem;
  }

  .page-nav {
    height: max-content;
    align-self: center;
  }

  .page-nav ul {
    margin: auto;
    gap: var(--margin);
    margin-right: var(--margin);
  }

  .page-nav a {
    width: 25px;
    height: 25px;
  }

  .page-nav li p {
    font-size: 0.8rem;
    width: 20px;
    height: 20px;
  }
  /* Header (end) */

  /* Homepage (start) */
  .home-banner {
    max-width: unset;
    min-width: unset;
    overflow: hidden;
  }

  .home-banner.hero {
    grid-template-rows: max-content 1fr;
  }

  .hero-text {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    grid-template-rows: repeat(3, max-content);
  }

  .hero-image {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    height: unset;
  }

  .slogan-text {
    font-size: 2.2rem;
    padding: var(--padding);
  }

  .sub-text {
    font-size: 1rem;
    width: 90%;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding-bottom: 0;
    padding: 0 var(--padding);
    margin-bottom: 0;
  }

  .hero .shop-btn {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin-top: 0;
  }

  .home-banner.offers {
    width: 100vw;
    grid-template-columns: 1fr 1fr ;
    grid-auto-rows: max-content;
    grid-template-areas:
      "header more-btn"
      "items items ";
    overflow: hidden;
  }

  .chevron-btn {
    display: none;
  }

  .page-nodes {
    display: none;
  }

  .banner-header {
    font-size: 1rem;
    padding: 0;
    margin: calc(var(--margin) * 0.5);
  }

  .more-btn {
    font-size: 0.6rem;
    margin: calc(var(--margin) * 0.5);
  }

  .banner-products{
    width: 100%;
    height: max-content;
    min-height: unset;
    padding: var(--padding);
    
    display: flex;
    gap: calc(var(--margin) * 0.5);

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior:auto;
  }

  .shop-item {
    flex: 1 0 90%;
    min-width: unset;
    max-width: unset;

    scroll-snap-align: start;
    scroll-margin: calc(var(--margin) * 0.5);
  }

  .shop-item:hover {
    transform: scale(1);
  }

  @media (hover: none) {
    .shop-item:hover {
      cursor: default;
      border: 1px solid transparent;
      transform: scale(1);
      box-shadow: none;
    }
  }

  .category-items {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    padding: var(--padding);
    min-height: unset;
    height: max-content;

    gap: var(--margin);

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior:auto;
  }

  .category-item {
    flex: 1 0 45%;
    height: 200px;
    scroll-snap-align: start;
    scroll-margin: var(--margin);
  }

  @media (hover: none) {
    .category-item:nth-child(4n-3) {
      background: linear-gradient(#41B06E, var(--lightest-color));
    }

    .category-item:nth-child(4n-2) {
      background: linear-gradient(#FF0000, var(--lightest-color));
    }

    .category-item:nth-child(4n-1) {
      background: linear-gradient(#F6E96B, var(--lightest-color));
    }
  
    .category-item:nth-child(4n) {
      background: linear-gradient(#40A2E3, var(--lightest-color));
    }
  }

  .about-detail {
    min-width: 300px;
  }
    /* Homepage (end) */

  /* Profile (start) */
  .profile-page {
    min-width: unset;
    max-width: unset;
  }

  .profile-display {
    grid-template-columns: 1fr;
    grid-template-areas:
        "profile"
        "tabs"
        "purchase";
    padding: var(--padding);
  }

  .profile-page h2 {
    padding: var(--padding);
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  .user-profile {
    width: 100%;
  }

  .user-details-cont p {
    font-size: 0.8rem;
  }

  .purchase-tabs {
    padding: var(--padding);
    margin: var(--margin) 0;
  }
  
  .purchase-tabs button {
    font-size: 0.8rem;
  }

  .purchase-tabs button svg {
    width: 35px;
    height: 35px;
    padding: 3px;
  }

  .purchase-tabs hr {
    margin-top: 17px;
  }
 
  .batch-container p:not(.order.title) {
    font-size: 0.8rem;
  }

  .batch.details {
    grid-template-columns: 1fr 1fr;
  }

  .batch.calculate {
    width: 100%;
  }

  .batch.calculate p {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }

  .batch.calculate p span {
    font-size: 0.8rem;
    width: 100%;
  }

  .edit-profile-dialog {
    width: 90vw;
    margin: 75px auto;
  }

  .edit-profile-dialog .dialog-cont {
   width: 100%;
  }

  .edit-profile-dialog .dialog-header {
    padding: 0;
  }

  .close-dialog-btn {
    width: 25px;
    height: 25px;
  }

  .edit-profile-dialog .dialog-header h3{
    font-size: 1rem;
  }

  .edit-profile.input-cont {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
  }

  .edit-profile.input-cont {
    padding: 0;
    margin-bottom: var(--margin);
  }

  .edit-profile label {
    font-size: 0.8rem;
  }

  .input-cont input, .input-cont textarea {
    font-size: 0.8rem;
  }

  .action-btns button {
    font-size: 0.8rem;
  }

  .empty svg {
    width: 100px;
    height: 100px;
  }

  .empty.message {
    font-size: 1rem;
  }

  /* Profile (end) */

  /* Shop (start) */
  .catalog-page {
    width: 100%;
    padding: var(--padding);
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "catalog"
    "page-changer";
  }

  .shop-header {
    padding: 0;
    min-width: unset;
    max-width: unset;
    grid-template-columns: max-content 1fr 1fr;
  }

  .open-filter-btn {
    display: block;
    width: 35px;
    height: 35px;
    color: var(--base-color);
    background-color: transparent;
    border: none;
  }

  .close-filter-btn {
    display: block;
    width: 35px;
    height: 35px;
    color: var(--lightest-color);
    border: none;
    background-color: rgba(141, 236, 180, 0.1);
    position: absolute;
    right: 0;
    top: 0;
  }

  .shop-header .header {
    font-size: 1.2rem;
  }

  .filter-bar {
    position: fixed;
    transform: translateX(-100vw);
    z-index: 3;
    background-color: var(--black);
    margin-left: var(--margin);
    border: 3px solid var(--base-color);
    transition: 300ms;
  }

  .filter-bar.open {
    transform: translateX(0);
  }

  .shop-catalog {
    min-width: unset;
    max-width: unset;
    padding: 0;
    width: 100%;
    gap: var(--margin);
  }

  .page-btns-cont {
    min-width: unset;
    max-width: unset;
    width: 100%;
  }

  .shop-catalog .shop-item {
    width: 100%;
  }

  .catalog-page .page-nodes {
    display: flex;
  }

  /* Item page */
  .item-page {
    margin: calc(var(--margin) * 2) var(--padding);
    max-width: unset;
    grid-template-columns: 1fr;
    grid-template-areas:
    "title"
    "img"
    "about"
    "dev"
    "pub"
    "counter";
  }

  .item-desc.title {
    font-size: 1.1rem;
    width: 100%;
    margin: 0 0 var(--margin) 0;
  }

  .item-desc.preview {
    margin: 0 0 var(--margin) 0;
    width: 100%;
  }

  .item-desc.about {
    margin: 0 0 var(--margin) 0;
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .item-desc.developer, .item-desc.publisher {
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .item-desc.counter {
    margin: var(--margin) 0;
  }

  .item-desc.price .disc-price {
    font-size: 1.1rem;
  }

  .item-desc.add-btn {
    font-size: 1.1rem;
  }

  .item-desc.price .discount {
    font-size: 1.3rem;
  }

  /* Pre-cart (start) */
  .pre-cart-dialog {
    width: 90vw;
    margin: 75px auto;
    max-width: unset;
    overflow: hidden;
  }

  .pre-cart.dialog-cont .item-details {
    padding: var(--padding);
    grid-template-columns: 1fr;
    grid-template-areas:
    "title"
    "img"
    "price"
    "qty"
    "total";
  }

  .pre-cart.title {
    font-size: 1.1rem;
    line-height: 1.2rem;
  }

  .pre-cart.preview {
    width: 100%;
  }

  .pre-cart.price {
    margin-top: var(--margin);
  }

  .pre-cart p {
    font-size: 0.8rem;
  }

  .pre-cart.price .discount,
  .pre-cart.price .normal-price {
    font-size: 0.7rem;
  }

  .pre-cart.price .disc-price,
  .pre-cart.total .compute {
    font-size: 1.1rem;
  }
  .pre-cart.add-btn {
    font-size: 1.1rem;
  }
  /* Pre-cart (end) */
  /* Shop (end) */

  /* Cart (start)*/
  .cart-page {
    max-width: unset;
    min-width: unset;
  }

  .cart-display {
    grid-template-columns: 1fr;
  }

  .cart-page h2 {
    font-size: 1.1rem;
    padding: var(--padding);
    margin-bottom: 0;
  }

  .cart-content {
    padding: var(--padding);
  }

  .cart.container {
    padding: var(--padding);
    grid-template-columns: max-content max-content 1fr max-content;
    grid-template-areas:
      'checkbox img title title'
      'checkbox img prices delete'
      'checkbox img qty qty'
      'total total total total';
  }

  .cart.add-checkbox {
    width: 20px;
    height: 20px;
  }

  .cart.preview {
    width: 100px;
    height: 100%;
    object-fit: cover;
  }

  .cart.title {
    width: 100%;
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }

  .cart.prices .disc-price {
    font-size: 0.8rem;
    margin-right: 5px;
  }

  .cart.prices .normal-price {
    font-size: 0.6rem;
  }

  .cart.prices .discount {
    font-size: 0.6rem;
  }

  .cart.item-total {
    font-size: 1rem;
  }

  .cart.qty-controller {
    width: max-content;
    justify-self: end;
  }

  .cart.remove-btn {
    margin: 0;
  }

  .qty-buttons button {
    width: 20px;
    height: 20px;
    font-size: 0.8rem;
  }

  .qty-buttons p {
    width: 20px;
    height: 20px;
    font-size: 0.8rem;
  }

  .checkout-cont {
    width: 100%;
    position: fixed;
    bottom: 0;
  }

  .checkout-cont {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 0px max-content;
    grid-template-areas: 
      'mail mail'
      'compute checkout-btn';
    transition: 200ms;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  }

  .checkout-cont.edit {
    grid-template-rows: 1fr max-content;
    box-shadow: none;
  }

  .checkout-cont.edit .mailing-container {
    display: flex;
    padding: var(--padding);
    height: 100%;
    transform: translateY(0);
  }

  .mailing-container {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    grid-area: mail;
    z-index: -1;
    padding: 0px;
    height: 0%;
    transform: translateY(100vh);
    transition: 200ms;
  }

  .order-computation {
    grid-area: compute;
    border-top: 1px solid var(--comp-color-2);
  }

  .checkout-btns-cont {
    grid-area: checkout-btn;
    border-top: 1px solid var(--comp-color-2);
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    padding: var(--padding);
    padding-top: calc(var(--padding) * 2);
  }

  .mailing label {
    font-size: 0.8rem;
  }

  .mailing input, .mailing textarea {
    font-size: 0.8rem;
  }

  .order-computation p {
    font-size: 0.8rem;
  }

  .checkout-cont button.checkout-btn {
    margin-bottom: var(--padding);
    width: 100%;
    align-self: end;
  }

  .checkout-cont button.edit-mailing {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0;
    background-color: transparent;
    color: var(--lightest-color);
    text-shadow: none;
    margin-bottom: 0;

    height: max-content;
    justify-self: end;
    align-self: start;
  }

  .checkout-cont button.edit-mailing:hover,
  .checkout-cont button.edit-mailing:active {
    background-color: transparent;
  }

  .edit-mailing .indicator {
    width: 12px;
    height: 12px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: end;
  }

  .checkout-cont.edit .indicator {
    background-image: url(../assets/down.svg);
  }

  .checkout-cont .indicator {
    background-image: url(../assets/up.svg);
  }

  dialog.confirm-checkout {
    width: 90vw;
  }

  .confirm-checkout .dialog-cont {
    width: 100%;
  }

  .dialog-header {
    font-size: 1rem;
  }

  .confirm-checkout .batch.mailing p,
  .confirm-checkout .order-item p,
  .confirm-checkout .order.prices .disc-price,
  .confirm-checkout .batch.calculate p {
    font-size: 0.8rem;
  }

  .confirm-checkout .order.prices .discount,
  .confirm-checkout .order.prices .normal-price {
    font-size: 0.7rem;
  }
  /* Cart (end)*/
















  /* Footer (start) */
  div.footer-content {
    max-width:unset;
    min-width:unset;
  }

  div.footer-content p, .github-link {
    font-size: 0.8rem;
  }

  div.footer-content .disclaimer p {
    font-size: 0.8rem;
  }
  /* Footer (end) */

  /* scroll-bar  (start)*/
  ::-webkit-scrollbar {
    height: 12px;
    width: 14px;
    background: transparent;
    z-index: 1;
    overflow: visible;
  }

  ::-webkit-scrollbar-corner {
    background: #202020;
  }

  ::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: rgba(64, 162, 227, 0.3);
    border-radius: 10px;
    z-index: 12;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    transition: background-color .32s ease-in-out;
    margin: 4px;
    min-height: 32px;
    min-width: 32px;
}
  /* scroll-bar  (end)*/
}