@media only screen and (max-width: 376px ) {
  /* Header (start) */
  .header-cont {
    max-width: unset;
    min-width: unset;
    padding: var(--padding);
    margin: var(--margin) 0;
  }

  .page-banner .logo {
    width: 35px;
    height: 35px;
  }

  .page-banner .page-title {
    font-size: 1.3rem;
  }

  .page-banner {
    margin: 0;
  }

  .page-subtitle {
    font-size: 0.6rem;
  }

  .page-nav {
    height: max-content;
    align-self: center;
  }

  .page-nav ul {
    margin: auto;
    gap: var(--margin);
    margin-right: var(--margin);
  }

  .page-nav a {
    width: 25px;
    height: 25px;
  }

  .page-nav li p {
    font-size: 0.8rem;
    width: 20px;
    height: 20px;
  }

  /* Header (end) */

  /* Homepage (start) */
  .home-banner {
    max-width: unset;
    min-width: unset;
    overflow: hidden;
  }

  .home-banner.hero {
    grid-template-rows: max-content 1fr;
  }

  .hero-text {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    grid-template-rows: repeat(3, max-content);
  }

  .hero-image {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    height: unset;
  }

  .slogan-text {
    font-size: 2.2rem;
    padding: var(--padding);
  }

  .sub-text {
    font-size: 1rem;
    width: 90%;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding-bottom: 0;
    padding: 0 var(--padding);
    margin-bottom: 0;
  }

  .hero .shop-btn {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin-top: 0;
  }

  .home-banner.offers {
    width: 100vw;
    grid-template-columns: 1fr 1fr ;
    grid-auto-rows: max-content;
    grid-template-areas:
      "header more-btn"
      "items items ";
    overflow: hidden;
  }

  .chevron-btn {
    display: none;
  }

  .page-nodes {
    display: none;
  }

  .banner-header {
    font-size: 1rem;
    padding: 0;
    margin: calc(var(--margin) * 0.5);
  }

  .more-btn {
    font-size: 0.6rem;
    margin: calc(var(--margin) * 0.5);
  }

  .banner-products{
    width: 100%;
    height: max-content;
    min-height: unset;
    padding: var(--padding);
    
    display: flex;
    gap: calc(var(--margin) * 0.5);

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior:auto;
  }

  .shop-item {
    flex: 1 0 90%;
    /* width: 90vw; */
    min-width: unset;
    max-width: unset;

    scroll-snap-align: start;
    scroll-margin: calc(var(--margin) * 0.5);
  }

  .shop-item:hover {
    transform: scale(1);
  }

  @media (hover: none) {
    .shop-item:hover {
      cursor: default;
      border: 1px solid transparent;
      transform: scale(1);
      box-shadow: none;
    }
  }

  .category-items {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    padding: var(--padding);
    min-height: unset;
    height: max-content;

    gap: var(--margin);

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior:auto;
  }

  .category-item {
    flex: 1 0 45%;
    height: 200px;
    scroll-snap-align: start;
    scroll-margin: var(--margin);
  }

  @media (hover: none) {
    .category-item:nth-child(4n-3) {
      background: linear-gradient(#41B06E, var(--lightest-color));
    }

    .category-item:nth-child(4n-2) {
      background: linear-gradient(#FF0000, var(--lightest-color));
    }

    .category-item:nth-child(4n-1) {
      background: linear-gradient(#F6E96B, var(--lightest-color));
    }
  
    .category-item:nth-child(4n) {
      background: linear-gradient(#40A2E3, var(--lightest-color));
    }
  }

  .about-detail {
    min-width: 300px;
  }
    /* Homepage (end) */

  /* Profile (start) */
  .profile-page {
    min-width: unset;
    max-width: unset;
  }

  .profile-display {
    grid-template-columns: 1fr;
    grid-template-areas:
        "profile"
        "tabs"
        "purchase";
    padding: var(--padding);
  }

  .profile-page h2 {
    padding: var(--padding);
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  .user-profile {
    width: 100%;
  }

  .user-details-cont p {
    font-size: 0.8rem;
  }

  .purchase-tabs {
    padding: var(--padding);
    margin: var(--margin) 0;
  }
  
  .purchase-tabs button {
    font-size: 0.8rem;
  }

  .purchase-tabs button svg {
    width: 35px;
    height: 35px;
    padding: 3px;
  }

  .purchase-tabs hr {
    margin-top: 17px;
  }
 
  .batch-container p:not(.order.title) {
    font-size: 0.8rem;
  }

  .batch.details {
    grid-template-columns: 1fr 1fr;
  }

  .batch.calculate {
    width: 100%;
  }

  .batch.calculate p {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }

  .batch.calculate p span {
    font-size: 0.8rem;
    width: 100%;
  }

  .edit-profile-dialog {
    width: 100%;
    margin: 75px auto;
  }

  .edit-profile-dialog .dialog-cont {
   width: 100%;
  }

  .edit-profile-dialog .dialog-header {
    padding: 0;
  }

  .close-dialog-btn {
    width: 25px;
    height: 25px;
  }

  .edit-profile-dialog .dialog-header h3{
    font-size: 1rem;
  }

  .edit-profile.input-cont {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
  }

  .edit-profile.input-cont {
    padding: 0;
    margin-bottom: var(--margin);
  }

  .edit-profile label {
    font-size: 0.8rem;
  }

  .input-cont input, .input-cont textarea {
    font-size: 0.8rem;
  }

  .action-btns button {
    font-size: 0.8rem;
  }

  .empty svg {
    width: 100px;
    height: 100px;
  }

  .empty.message {
    font-size: 1rem;
  }

  /* Profile (end) */

  .catalog-page {
    width: 100%;
    /* overflow: hidden; */
    padding: var(--padding);
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "catalog"
    "page-changer";
  }

  .shop-header {
    padding: 0;
    min-width: unset;
    max-width: unset;
    grid-template-columns: max-content 1fr 1fr;
  }

  .open-filter-btn {
    display: block;
    width: 35px;
    height: 35px;
    color: var(--base-color);
    background-color: transparent;
    border: none;
  }

  .close-filter-btn {
    display: block;
    width: 35px;
    height: 35px;
    color: var(--lightest-color);
    border: none;
    background-color: rgba(141, 236, 180, 0.1);
    position: absolute;
    right: 0;
    top: 0;
  }

  .shop-header .header {
    font-size: 1.2rem;
  }

  .filter-bar {
    position: fixed;
    transform: translateX(-100vw);
    z-index: 3;
    background-color: var(--black);
    margin-left: var(--margin);
    border: 3px solid var(--base-color);
    transition: 300ms;
  }

  .filter-bar.open {
    transform: translateX(0);
  }

  .shop-catalog {
    min-width: unset;
    max-width: unset;
    padding: 0;
    width: 100%;
    gap: var(--margin);
  }

  .page-btns-cont {
    min-width: unset;
    max-width: unset;
    /* gap: var(--margin); */
    width: 100%;
  }

  .shop-catalog .shop-item {
    width: 100%;
  }

  .catalog-page .page-nodes {
    display: flex;
  }




















  /* Footer (start) */
  div.footer-content {
    max-width:unset;
    min-width:unset;
  }

  div.footer-content p, .github-link {
    font-size: 0.8rem;
  }

  div.footer-content .disclaimer p {
    font-size: 0.8rem;
  }
  /* Footer (end) */

  /* scroll-bar  (start)*/
  ::-webkit-scrollbar {
    height: 12px;
    width: 14px;
    background: transparent;
    z-index: 1;
    overflow: visible;
  }

  ::-webkit-scrollbar-corner {
    background: #202020;
  }

  ::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: rgba(64, 162, 227, 0.3);
    border-radius: 10px;
    z-index: 12;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    transition: background-color .32s ease-in-out;
    margin: 4px;
    min-height: 32px;
    min-width: 32px;
}
  /* scroll-bar  (end)*/
}