@import url('https://fonts.googleapis.com/css2?family=Hind&family=Montserrat&family=Russo+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --padding: 8px;
  --margin: 16px;
  --title-font: "Montserrat", sans-serif;
  --para-font: "Hind", sans-serif;
  --special-font: "Russo One", sans-serif;

  --lightest-color: #FFF5E0;
  --base-color: #8DECB4;
  --darker-color: #41B06E;
  --darkest-color: #141E46;

  --black: #092532;

  --comp-color-1: #FF0000;
  --comp-color-2: #FF6464;

  --triad-color-1: #40A2E3;
}

p, label, input, textarea {
  font-family: var(--para-font);
  font-size: 1rem;
}

h1, h2, h3, h4, h5 {
  font-family: var(--title-font);
}

body {
  background-color: var(--black);
}

body::before {
  content: ' ';
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/bg-1.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
  filter: opacity(0.1);
}

.header-cont {
  max-width: 1024px;
  min-width: 1024px;
  margin: auto;
  margin-bottom: 30px;
  padding: var(--padding) 0;
  display: flex;
  justify-content: space-between;
}

.page-banner {
  margin-top: 10px;
}

.page-title {
  color: var(--base-color);
  font-family: var(--title-font);
}

.page-banner a {
  font-family: var(--special-font);
  letter-spacing: 0.1rem;
  text-decoration: none;

  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(2, max-content);
  align-items: center;
  justify-content: flex-start;
}

.page-banner .logo {
  width: 55px;
  height: 55px;
  margin-right: 10px;

  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.page-banner .page-title {
  font-size: 2rem;
  font-family: var(--special-font);
  align-self: end;

  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.page-subtitle {
  color: var(--lightest-color);
  font-family: var(--title-font);
  font-size: 0.8rem;
  align-self: start;

  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.page-title a:visited {
  color: var(--base-color);
}

/* Navbar (start)*/
.page-nav ul{
  display: flex;
  flex-wrap: nowrap;
  gap: calc(var(--margin) * 3);
  list-style: none;
  margin: var(--margin);
}

.page-nav li{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.page-nav li p {
  color: var(--lightest-color);
  background-color: var(--comp-color-1);
  border-radius: 50%;
  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;

  position: absolute;
  top: -10px;
  right: -10px;
}

.page-nav a {
  color: var(--lightest-color);
  width: 35px;
  height: 35px;
  text-decoration: none;
}

.page-nav a:visited {
  color: var(--lightest-color);
}

.page-nav a:hover {
  color: var(--base-color);
}

.page-nav a.active {
  color: var(--darker-color);
}
/* Navbar (end)*/

/* Homepage (start) */
main {
  min-height: 100vh;
}

@keyframes fade-in {
  from {
    filter: saturate(0) opacity(0);
  }
  to {
    filter: saturate(1) opacity(1);
  }
}

/* Home Banner common (start)*/
.home-banner {
  max-width: 1024px;
  min-width: 1024px;
  margin: auto;
  position: relative;
}

.banner-header {
  grid-area: header;
  font-size: 1.2rem;
  color: var(--lightest-color);
  padding: var(--header);
  padding: var(--padding);
  text-shadow: 0 0 5px var(--darkest-color);
  margin-bottom: var(--margin);
  width: max-content;
}
/* Home Banner common (end)*/

/* Hero (start) */
.home-banner.hero {
  max-height: min-content;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.3);

  display: grid;
  grid-template-columns: 1fr 1fr;

  position: relative;
  animation: fade-in 0.5s ease-in 1;
}

.hero-text {
 display: grid;
 width: 100%;
 grid-template-columns: 1fr max-content;
 grid-template-rows: max-content max-content;
 gap: var(--margin);
 width: 100%;

 align-content: end;
 z-index: 2;
}

.slogan-text{
  grid-column: 1 / 3;
  grid-row: 1 / 2;

  color: var(--lightest-color);
  width: 100%;
  font-family: var(--special-font);
  font-size: 2.5rem;
  font-weight: bold;
  
  background-color: var(--darker-color);
  background-image: url(../assets/bg-2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: max-content;

  align-self: end;
  padding: var(--padding) calc(var(--padding) * 3);
  color: var(--lightest-color);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, max-content);
  gap: 3px;
}

.slogan-text span {
  min-width: min-content;
  width: max-content;
  background-color: black;
  text-wrap: nowrap;
  padding: 0 5px;
  box-shadow: -5px 5px 5px 1px rgba(20, 30, 70, 0.5);
}

.slogan-text span:nth-child(1) {
  margin-left: var(--margin);
  font-size: 1.5rem;
}

.slogan-text span:nth-child(3) {
  margin-left: calc(var(--margin) * 5);
  font-size: 1.5rem;
}

.sub-text {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  padding: 0 calc(var(--padding) * 3);
  margin-bottom: var(--margin);
  width: 100%;
  color: var(--lightest-color);
  font-size: 1rem;
}

.hero .shop-btn {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  font-size: 1rem;
  font-family: var(--title-font);
  padding: var(--padding);
  width: max-content;
  height: max-content;
  align-self: end;
  margin: var(--margin);
  color: var(--lightest-color);
  text-shadow: 0 0 3px var(--darkest-color);
  background-color: var(--triad-color-1);
  border: 1px solid transparent;
}

.hero .shop-btn:hover {
  filter: brightness(1.1);
}

.hero-image {
  width: 100%;
  height: 100%;
  max-height: 600px;
  object-fit: cover;
  object-position: center right;
}
/* Hero (end) */

/* Text banner (start) */
.home-banner.text .slogan-text {
  justify-content: center;
  text-align: center;
  color: var(--darker-color);
  background-color: transparent;
  letter-spacing: 0.1rem;
}

.home-banner.text .sub-text {
  text-align: center;
  width: 100%;
}
/* Text banner (end) */

/* Offers (start) */
.home-banner.offers,
.home-banner.under-five {
  margin: 75px auto;
  display: grid;
  grid-template-columns: max-content 1fr 1fr max-content;
  grid-auto-rows: max-content;
  grid-template-areas: 
    ". header more-btn ."
    "previous items items next"
    ". page-nodes page-nodes .";
  
  align-items: center;
}

.banner-header {
  grid-area: header;
}

.banner-products {
  grid-area: items;
}

.chevron-btn.previous-page {
  grid-area: previous;
}

.chevron-btn.next-page {
  grid-area: next;
}

.page-nodes {
  grid-area: page-nodes;
}

.more-btn {
  grid-area: more-btn;
  font-family: var(--title-font);
  font-size: 0.8rem;
  width: max-content;
  justify-self: end;
  align-self: center;
  padding: 5px 10px;
  color: var(--lightest-color);
  border: 1px solid var(--lightest-color);
  background-color: transparent;
  filter: opacity(0.5);
  transition: 200ms;
  margin-bottom: var(--margin);
}

.more-btn:hover {
  filter: opacity(1);
  color: var(--base-color);
  border: 1px solid var(--base-color);
}

.offers-items {
  width: 100%;
  min-height: 430px;
  margin: 0 0 var(--margin) 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;

  gap: var(--margin);
}

.banner-products .shop-item {
  animation: fade-in 0.5s ease-in-out 1;
  transition: 300ms;
}

.banner-products .catalog-desc.title {
  visibility: hidden ;
}

/* Page changer (common) */
.chevron-btn {
  width: 50px;
  height: 80px;
  background-color: var(--darker-color);
  border: none;
  color: var(--lightest-color);
  transition: 100ms;
  filter: opacity(0.8);
}

.chevron-btn.previous-page {
  background: linear-gradient(0.25turn, var(--darker-color), transparent);
}

.chevron-btn.next-page {
  background: linear-gradient(0.25turn, transparent, var(--darker-color));
}

.chevron-btn.no-page {
  visibility: hidden;
}

.chevron-btn:disabled {
  filter: saturate(0) opacity(0.5);
}

.chevron-btn:not(:disabled):hover {
  filter: opacity(1) brightness(1.3);
}

.page-nodes {
  padding: var(--padding);
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: var(--margin);
}

.page-nodes.no-page {
  visibility: hidden;
}
/* Page changer (common) */

/* Offers (end) */

/* Categories - Home banner - (start)  */
.home-banner.categories {
  display: grid;
  align-items: center;
  grid-template-columns: max-content 1fr max-content;
  grid-template-areas: 
    ". header header"
    "previous items next"
    ". page-nodes .";
  margin: 75px auto 75px;
}

.categories .banner-header {
  grid-area: header;
}

.category-items {
  min-height: 250px;
  grid-area: items;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: var(--margin);
}

.category-item {
  width: 100%;
  height: 250px;
  padding: 2px;

  clip-path: polygon(0 0, 90% 0, 100% 10%, 100% 80%, 100% 100%, 10% 100%, 0 90%, 0% 20%);
  background-color: var(--lightest-color);
  animation: fade-in 0.5s ease-in-out 1;
  transition: 300ms;
}

.category-item:hover {
  cursor: pointer;
  transform: translateY(-5px);
  filter: brightness(1.1);
}

.category-item:hover img {
  filter: opacity(1);
}

.category-item:nth-child(4n-3):hover {
  background: linear-gradient(#41B06E, var(--lightest-color));
}

.category-item:nth-child(4n-2):hover {
  background: linear-gradient(#FF0000, var(--lightest-color));
}

.category-item:nth-child(4n-1):hover {
  background: linear-gradient(#F6E96B, var(--lightest-color));
}

.category-item:nth-child(4n):hover {
  background: linear-gradient(#40A2E3, var(--lightest-color));
}

.category-item .content {
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: var(--black);
  overflow: hidden;

  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 90% 0, 100% 10%, 100% 80%, 100% 100%, 10% 100%, 0 90%, 0% 20%);
  position: relative;
}

.category-item img {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: max-content;
  justify-items: center;
  filter: opacity(0.5);
  transform: rotateZ(-10deg);
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.category-text {
  font-size: 1.5rem;
  padding-bottom: var(--padding);
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: center;
  text-shadow: 0 3px 3px var(--darkest-color);
  color: var(--lightest-color);
}

.category-item:nth-child(4n-3) .category-text{
  background: linear-gradient(0deg, rgba(65, 176, 110, 0.8), rgba(9, 37, 50, 0.8), transparent);
}

.category-item:nth-child(4n-2) .category-text{
  background: linear-gradient(0deg, rgba(255, 0, 0, 0.8), rgba(9, 37, 50, 0.8), transparent);
}

.category-item:nth-child(4n-1) .category-text{
  background: linear-gradient(0deg, rgba(246, 233, 107, 0.8), rgba(9, 37, 50, 0.8), transparent);
}

.category-item:nth-child(4n) .category-text{
  background: linear-gradient(0deg, rgba(64, 162, 227, 0.8), rgba(9, 37, 50, 0.8), transparent);
}
/* Categories - Home banner - (end)  */

/* Under Five banner (start) */  
.home-banner.offers, .home-banner.under-five {
  margin-bottom: 0;
}

.under-five-items {
  grid-area: items;

  min-height: 210px;

  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--margin);
}
/* Under Five banner (end) */

/* Best Rated banner (start) */
.best-rated-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--margin);
  min-height: 260px;
}

.home-banner.best-rated {
  margin: 75px auto 0;
  display: grid;
  grid-template-columns: max-content 1fr 1fr max-content;
  grid-auto-rows: max-content;
  grid-template-areas: 
    ". header more-btn ."
    "previous items items next"
    ". page-nodes page-nodes .";
  
  align-items: center;
}

.best-rated-items .shop-item {
  position: relative;
}

.best-rated-items .item-preview {
  height: 200px;
  max-height: 200px; 
}

.banner-products.best-rated-items .catalog-desc.title{
  visibility: visible;
}

.rating {
  position: absolute;
  background-color: var(--triad-color-1);
  padding: 3px;
  top: var(--margin);
  right: var(--margin);
  filter: drop-shadow(0 0 10px var(--darkest-color));
  height: 80px;
  width: 80px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.rating p {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-family: var(--title-font);
  padding: var(--padding);
  background-color: var(--darkest-color);
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Best Rated banner (end) */

/* About banner (start) */
.home-banner.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 75px auto;
}

.banner-header.about {
  font-size: 2rem;
  font-family: var(--title-font);
}

.about-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-content: center;
  justify-items: center;
}

.about-icon {
  width: 150px;
  height: 150px;
  background-color: var(--darker-color);
  padding: 5px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.about-icon svg {
  background-color: var(--black);
  padding: calc(var(--padding) * 4);
  color: var(--lightest-color);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.about-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--lightest-color);
  gap: var(--margin);
  margin: var(--margin);
  padding: var(--padding);
}

.about-header {
  font-size: 1.2rem;
  font-family: var(--title-font);
}

.about-detail p {
  text-align: center;
}
/* About banner (end) */
/* Homepage (end) */

/* Shop (start) */
.shop-page.loading {
  background-color: red;
}

.catalog-page {
  display: grid;
  grid-template-columns: max-content 1fr;
  position: relative;

  grid-template-areas: 
    ". header"
    "filter-bar catalog"
    ". page-changer";
}

.shop-header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  align-items: center;
  padding: var(--padding);
  min-height: 55px;

  min-width: 1024px;
  max-width: 1024px;
}

.shop-header .header {
  font-size: 1.5rem;
  color: var(--lightest-color);
  width: max-content;
}

.shop-header .filter-label-btn {
  justify-self: end;

  font-size: 1rem;
  color: var(--darker-color);
  font-family: var(--title-font);
  padding: var(--padding);
  background-color: var(--black);
  border: 1px solid var(--darker-color);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  transition: 
    color 200ms ease-in-out
    border 200ms ease-in-out;
}

.shop-header .filter-label-btn svg {
  width: 15px;
  height: 15px;
}

.shop-header .filter-label-btn:disabled {
  opacity: 0;
  visibility: hidden;
}

.shop-header .filter-label-btn:hover {
  color: var(--base-color);
  border-color: var(--base-color);
}

/* Shop catalog (start)*/
.shop-catalog {
  grid-area: catalog;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: calc(var(--margin) * 1.5);
  padding: var(--padding);
  position: relative;

  min-width: 1024px;
  max-width: 1024px;

  transition: 1000ms;
  animation: fade-in 0.2s ease-in-out;
}

.shop-catalog.loading {
  filter: saturate(0);
}

.shop-item {
  height: max-content;
  border: 1px solid transparent;
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: max-content 1fr;
  grid-template-areas: 
    "img img"
    "title prices";
  background-color: var(--darkest-color);
  transition: 200ms;
  border: 1px solid transparent;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.shop-item:hover {
  cursor: pointer;
  border: 1px solid rgba(255, 245, 224, 0.2);
  transform: scale(1.1);
  box-shadow: 0 0px 3px 1px #8DECB4;
  z-index: 2;
}

.shop-item *:not(.title) {
  pointer-events: none;
}

button span {
  pointer-events: none;
}

.shop-item p {
  color: var(--lightest-color);
}

.catalog-desc.title {
  grid-area: title;
  font-size: 1rem;
  line-height: 1rem;
  max-height: 2.5rem;

  width: 100%;
  padding: var(--padding);

  display: -webkit-box;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2; 
  -webkit-box-orient: vertical;

  overflow: hidden; 
  text-overflow: ellipsis;
}

.item-preview {
  grid-area: img;
  /* min-width: 300px; */
  max-height: 160px;
  width: 100%;
  object-fit: cover;
  justify-self: center;
}

.catalog-price {
  grid-area: prices;
  display: flex;
  justify-content: end;
  background-color: rgba(255, 245, 224, 0.1);
  min-height: max-content;
  height: max-content;
  min-height: 50px;
  margin: 8px;
  align-items: center;
}

.catalog-price .disc-price {
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: var(--base-color);
  padding: var(--padding);
}

.catalog-price.sale {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: 1fr 1fr;
  column-gap: 3px;
  justify-items: end;
  align-items: center;
  align-content: center;
}

.catalog-price p {
  letter-spacing: 0.1rem;
}

.catalog-price.sale .discount {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  font-size: 1.5rem;
  text-align: center;
  justify-self: center;
  background-color: var(--darker-color);
  color: var(--lightest-color);
  text-shadow: 0 2px 3px var(--darkest-color);
  padding: 0 var(--padding);
  height: 100%;
  display: flex;
  align-items: center;
}

.catalog-price.sale .normal-price {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  line-height: 1rem;
  font-size: 0.8rem;
  filter: opacity(0.7);
  text-decoration: line-through;
  padding: 0 var(--padding);
  align-self: end;
}

.catalog-price.sale .disc-price {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 1.2rem;
  align-self: start;
  padding: 0 var(--padding);
}
/* Shop catalog (end)*/

/* Filter Bar (start)*/
.filter-bar {
  grid-area: filter-bar; 

  display: flex;
  flex-direction: column;
  min-width: max-content;
  height: max-content;
  background-color: transparent;
  align-items: start;
  padding: var(--padding);
}

.filter-bar h3 {
  color: var(--darker-color);
  text-shadow: 0 3px 3px var(--darkest-color);
  font-size: 1rem;
  text-align: start;
  width: 100%;
}

.remove-filter-btn {
  width: max-content;
  font-size: 0.8rem;
  text-shadow: 0 0 3px var(--darkest-color);
  color: var(--lightest-color);
  background-color: rgba(65, 176, 110, 0.5);
  border: 1px solid transparent;
  padding: calc(var(--padding) * 0.5) var(--padding);
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  transition:200ms;
  margin: calc(var(--margin) * 0.5) 0;
}

.remove-filter-btn:disabled {
  filter: opacity(0);
  visibility: hidden;
}

.remove-filter-btn:hover {
  filter: brightness(1.1);
  color: var(--base-color);
}

.remove-filter-btn svg {
  width: 20px;
  height: 20px;
}

.remove-filter-btn svg path {
  fill: var(--base-color)!important;
}

.filter-bar .buttons-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 120px;
  margin: 30px;
}

.filter-btn {
  padding: 1px;
  font-size: 1rem;
  width: 60px;
  height: 60px;
  background-color: var(--black);
  border: 3px solid var(--lightest-color);
  color: var(--lightest-color);

  position: relative;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  justify-self: end;
  transition: 200ms;
}

.filter-btn.active {
  background-color: var(--darker-color);
}

.filter-btn:hover {
  box-shadow: 0 0 3px 1px var(--base-color);
}

.filter-btn:hover img {
  filter: drop-shadow(0 0 10px var(--base-color));
}

.filter-btn img {
  width: 100%;
  background-color: transparent;
  padding: 12px;
  filter: drop-shadow(0 0 3px var(--darkest-color));
  pointer-events: none;
  transform: rotateZ(-45deg);
}

.filter-btn img.goat {
  width: 150%;
}

.filter-btn img.horse{
  width: 120%;
}

.filter-btn span {
  position: absolute;
  left: 0;
  right: 0;
  transform: rotateZ(-45deg);
}

.filter-btn:nth-child(odd) {
  justify-self: start;
}

.filter-btn:nth-child(even) {
  justify-self: end;
}
/* Filter bar (end) */

/* Page Changer (start) */
.page-btns-cont {
  grid-area: page-changer;

  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin: var(--margin) 0;
  margin-bottom: 100px;

  min-width: 1024px;
  max-width: 1024px;
}

.page-node {
  width: 10px;
  height: 10px;
  font-size: 1rem;
  background: transparent;
  border: 2px solid var(--base-color);
  transform: rotateZ(45deg);
  color: var(--lightest-color);
  transition: 200ms;
}

.page-node:disabled:hover {
  cursor: default;
  transform: rotateZ(45deg) translateY(0) translateX(0);
}

.page-node:hover {
  background-color: rgba(141, 236, 180, 0.8);
  transform: rotateZ(45deg) translateY(-3px) translateX(-3px);
}

.page-node.active {
  border-color: var(--darker-color);
  background-color: var(--lightest-color);
  filter: drop-shadow(0 0 2px var(--base-color));
}

.page-node.current {
  border-color: var(--lightest-color);
  background-color: var(--darker-color);
}

.page-btn.alt {
  background-color: transparent;
  width:50px;
  height:50px;
  transform: rotateZ(0);
  border: none;
  color: var(--lightest-color);
}

.page-btn.alt:disabled {
  filter: opacity(0.5);
}

.page-btn.alt:disabled:hover {
  cursor: default;
  transform: rotateZ(0) translateY(0) translateX(0);
  color: var(--lightest-color);
  filter: opacity(0.5);
}

.page-btn.alt:hover {
  background-color: transparent;
  color: var(--darker-color);
  filter: drop-shadow(0 0 3px var(--lightest-color));
}
/* Page Changer (end) */

/* Item page (start) */
.item-page {
  max-width: 1024px;
  background-color: #19373d;
  border: 1px solid var(--darker-color);
  box-shadow: 0 0 5px 1px black;
  padding: var(--padding);
  margin: 75px auto 0;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-areas: 
    "title title"
    "img about"
    "img dev"
    "img pub"
    ". counter";

  position: relative;
}

p.item-desc, .item-desc p {
  color: var(--lightest-color);
}

.item-desc.title {
  grid-area: title;
  font-family: var(--title-font);
  text-shadow: 0 3px 3px var(--darkest-color);
  font-size: 1.3rem;
  color: var(--lightest-color);
  margin: var(--margin);
}

.item-desc.preview {
  grid-area: img;
  margin: var(--margin);
}

.item-desc.about {
  grid-area: about;
  line-height: 1.5rem;
  margin: var(--margin);
}

.item-desc.developer, .item-desc.publisher {
  margin: var(--margin);
  display: grid;
  grid-template-columns: max-content 1fr;
  justify-content: start;
  align-items: center;
  font-size: 0.9rem;
}

.item-desc.developer span:first-of-type, 
.item-desc.publisher span:first-of-type{
  width: 100px;
  min-width: max-content;
}

.item-desc.developer {
  grid-area: dev;
  margin-bottom: 0;
  align-self: end;
}

.item-desc.publisher {
  grid-area: pub;
  margin-top: 0;
  align-self: start;
}

.item-desc.counter {
  grid-area: counter;
  justify-self: end;

  display: flex;
  gap: var(--margin);
  width: max-content;
  justify-items: end;
  margin: var(--margin);
  background-color: rgba(9, 37, 50, 0.5);
  padding: var(--padding);
}

.price p {
  letter-spacing: 0.1rem;
}

.item-desc.price {
  display: flex;
  align-items: center;
  background-color: rgba(9, 37, 50, 0.5);
}

.item-desc.price.sale {
  width: max-content;

  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content max-content;
  justify-items: end;
  align-items: center;
}

.item-desc.price .discount {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgba(141, 236, 180, 0.3);
  height: 100%;
  display: flex;
  align-items: center;
  padding: var(--padding);
  color: var(--base-color);
  text-shadow: 0 0 3px var(--darkest-color);
}

.item-desc.price .normal-price {
  grid-column: 2 / 3;
  text-decoration: line-through;
  filter: opacity(0.8);
  font-size: 0.8rem;
  line-height: 0.8rem;
  padding: var(--padding);
  padding-bottom: 0;
}

.item-desc.price .disc-price {
  font-size: 1.3rem;
  line-height: 1.3rem;
  color: var(--base-color);
  padding: var(--padding);
}

.item-desc.sale.price .disc-price {
  grid-column: 2 / 3;
  padding-top: 0;
}

.item-desc.add-btn {
  font-size: 1.3rem;
  width: max-content;
  padding: var(--padding) calc(var(--padding) * 2);
  background-color: var(--triad-color-1);
  border: 1px solid var(--triad-color-1);
  color: var(--lightest-color);
  text-shadow: 0 0 3px var(--darkest-color);
  font-family: var(--title-font);
}

.item-desc.add-btn:hover {
  filter: brightness(1.1);
}

.success-msg {
  font-size: 1rem;
  font-family: var(--title-font);
  padding: var(--padding);
  color: var(--lightest-color);
  text-shadow: 0 3px 3px var(--darkest-color);
  width: max-content;
  background-color: var(--triad-color-1);
  position: absolute;
  top: -50px;
  right: 0;

  display: none;
  visibility: none;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.success-msg .check-icon {
  width: 1.5rem;
  height: 1.5rem;
  filter: drop-shadow(0 3px 3px var(--darkest-color));
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.success-msg.shown {
  display: flex;
  visibility: visible;
  animation: fade-out 1s ease-in-out 3s 1;
}
/* Item page (end) */

/* Pre cart dialog (start) */
.pre-cart-dialog {
  width: 100vw;
  max-width: 800px;
  margin: 150px auto;
}

@keyframes success {
  from {
    margin-top: 150px;

  }
  to {
    margin-top: 0;
    transform: scale(0);
  }
}

.pre-cart-dialog.added {
  animation: success 0.3s ease-in-out 1;
}

.pre-cart.dialog-cont {
  width: 100%;
  min-width: unset;
  padding: calc(var(--padding) * 2);
  background-color: rgba(255, 245, 224, 0.1);
  border-top: 5px solid var(--darker-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--margin);
}

.pre-cart.dialog-cont .item-details {
  width: 100%;
  min-width: unset;
  padding: calc(var(--padding) * 2);
  background-color: var(--black);

  display: grid;
  justify-content: center;
  align-items: start;
  grid-template-columns: max-content 1fr;
  grid-template-areas: 
    "img title"
    "img price"
    "img qty"
    "img total";
  flex-direction: column;
  column-gap: var(--margin);
  position: relative;
}

.pre-cart.close-btn {
  align-self: end;
  width: max-content;
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--lightest-color);

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
}

.pre-cart.close-btn:hover {
  color: var(--comp-color-2);
}

.pre-cart.close-btn svg {
  width: 30px;
  height: 30px;
}

.pre-cart.preview {
  grid-area: img;
  width: 250px;
  object-fit: contain;
}

.pre-cart p {
  color: var(--lightest-color);
}

.pre-cart.title {
  grid-area: title;
  font-size: 1.3rem;
  text-wrap: wrap;
  margin-bottom: var(--margin);
}

.pre-cart.price {
  grid-area: price;

  display: grid;
  grid-template-columns: 1fr repeat(3, max-content);
  align-items: center;
  justify-self: end;
  width: 100%;
}

.pre-cart.price .disc-price {
  font-size: 1.3rem;
  color: var(--base-color);
  margin-left: var(--margin);
}

.pre-cart.price .label {
  letter-spacing: unset;
}

.pre-cart.price .normal-price {
  text-decoration: line-through;
  font-size: 0.8rem;
  padding: 0 3px;
  filter: opacity(0.8);
}

.pre-cart.price .discount {
  font-size: 0.8rem;
  color: var(--darker-color);
  padding: 0 3px;
  background-color: rgba(141, 236, 180, 0.1);
}

.pre-cart.qty-controller {
  grid-area: qty;
  justify-self: end;
  margin-bottom: var(--margin);

  width: 100%;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  justify-content: start;
}

.pre-cart.qty-buttons {
  justify-self: end;
  width: max-content;

  display: flex;
  align-items: center;
  gap: calc(var(--margin) * 0.5);
  
  border: 1px solid var(--base-color);
  padding: 3px;
}

.qty-buttons p {
  width: 25px;
  text-align: center;
}

.qty-buttons button {
  width: 25px;
  height: 25px;
  font-size: 1rem;
  border: none;
  background-color: var(--lightest-color);
  color: var(--darkest-color);
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.pre-cart.total {
  grid-area: total;
  justify-self: end;

  padding: 3px 0;
  border-top: 1px solid rgba(255, 245, 224, 0.3);

  width: 100%;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  justify-content: start;
}

.pre-cart.total .compute {
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  color: var(--comp-color-2);
  justify-self: end;
}

.pre-cart.add-btn {
  padding: var(--padding) calc(var(--padding) * 2);
  font-size: 1.3rem;
  font-family: var(--title-font);
  background-color: var(--triad-color-1);
  color: var(--lightest-color);
  border: 1px solid transparent;
  width: max-content;
  justify-self: center;
  align-self: center;
  
  transition: 200ms;
}

.pre-cart.add-btn:not(:disabled):hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.pre-cart.add-btn:disabled {
  cursor: default;
  filter: brightness(0.5);
}
/* Shop (end) */

/* Cart (start)*/
.cart-page {
  max-width: 1024px;
  min-width: 1024px;
  margin: auto;
}

.cart-page h2 {  
  color: var(--lightest-color);
  margin-bottom: var(--margin);
}

.cart p {
  color: var(--lightest-color);
}

.cart.prices p:not(.cart-title) {
  letter-spacing: 0.1rem;
}

.cart-display {
  display: grid;
  grid-template-columns: 1fr max-content;
  margin: auto;
  gap: var(--margin);
}

.cart-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: calc(var(--margin) * 0.5);
}

.empty.container {
  margin-top: calc(var(--margin) * 2);
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--margin);
}

.empty svg {
  width: 150px;
  height: 150px;
  color: var(--base-color);
  margin: 0 auto;
  background-color: #102b38;
  border: 1px solid var(--base-color);
  padding: calc(var(--padding) * 3);
  border-radius: 50%;
}

.empty.message {
  font-size: 1.2rem;
  color: var(--lightest-color);
  text-align: center;
}

.empty.shop-btn {
  font-size: 1rem;
  font-family: var(--title-font);
  padding: var(--padding) calc(var(--padding) * 2);
  width: max-content;
  background-color: #41B06E;
  color: var(--lightest-color);
  text-shadow: 0 1px 3px var(--darkest-color);
  border: 1px solid transparent;
}

.empty.shop-btn:hover {
  filter: brightness(1.1);
}

.cart.container {
  background-color: #12333a;
  padding: var(--padding);
  gap: calc(var(--margin) * 0.5);

  display: grid;
  align-items: center;
  grid-template-columns: max-content max-content 1fr max-content max-content;
  grid-template-areas: 
    'checkbox img title title title'
    'checkbox img prices delete qty'
    'total total total total total';
}

.cart.add-checkbox {
  grid-area: checkbox;
  justify-self: center;
  margin: 5px;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 25px;
  height: 25px;
  border: 3px solid var(--comp-color-1);
  background-color: transparent;
  position: relative;
}

input[type='checkbox']:checked:before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../assets/check.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--comp-color-1);
  position: absolute;
  top: 0;
  left: 0;
}

input[type='checkbox']:hover {
  cursor: pointer;
}

.cart.preview {
  grid-area: img;
  width: 200px;
  align-self: start;
}

.cart.title {
  grid-area: title;
  font-size: 1.3rem;
  line-height: 1.2rem;
  max-height: 2.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart.remove-btn {
  grid-area: delete;
  justify-self: center;
  width: 25px;
  height: 25px;
  margin: 0 20px;
  border: none;
  background-color: transparent;
  color: var(--lightest-color);
  filter: opacity(0.3);
  transition: 200ms;
}

.cart.remove-btn:hover {
  color: var(--base-color);
  filter: opacity(1);
}

.cart.prices {
  grid-area: prices;
  display: flex;
  align-items: center;
}

.cart.prices .disc-price {
  font-size: 1.2rem;
  color: var(--base-color);
  margin-right: var(--margin);
}

.cart.prices .normal-price {
  text-decoration: line-through;
  font-size: 0.8rem;
  padding: 0 3px;
  filter: opacity(0.8);
}

.cart.prices .discount {
  font-size: 0.8rem;
  color: var(--darker-color);
  padding: 0 3px;
  background-color: rgba(141, 236, 180, 0.1);
}

.cart.qty-controller {
  grid-area: qty;
}

.cart.qty-controller .qty-buttons {
  display: flex;
  border: 1px solid var(--base-color);
  padding: 3px;
  gap: calc(var(--margin)* 0.5);
}

.cart.item-total {
  grid-area: total;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: var(--comp-color-2);
  justify-self: end;
  text-align: end;
  width: 100%;
  padding: 3px;
  background: linear-gradient(0.25turn, transparent, rgb(255, 245, 224, 0.1));
}

.checkout-cont {
  width: 300px;
  background-color: #30615a;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.mailing-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: var(--margin);
  border-bottom: 1px solid var(--comp-color-2);
  background-color: #548073;
    padding: var(--padding);
}

.mailing-container .location-icon {
  width: 25px;
  height: 25px;
  color: var(--darker-color);
}

.mailing.input-field {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 5px;
  align-items: center;
}

.mailing label {
  color: var(--lightest-color);
  width: 60px;
  min-width: max-content;
}

label[for='mail-address'] {
  align-self: start;
}

.mailing input, .mailing textarea {
  padding: 0 3px;
  color: var(--lightest-color);
  background-color: rgba(255, 245, 224, 0.1);
  border: 1px solid var(--lightest-color);
}

.mailing input.invalid, .mailing textarea.invalid {
  border: 1px solid var(--comp-color-1);
  outline: 1px solid var(--comp-color-1);
  background-color: rgba(255, 100, 100, 0.3);
}

.mailing input::placeholder, .mailing textarea::placeholder {
  color: var(--lightest-color)
}

.mailing textarea {
  resize: vertical;
  margin-bottom: var(--margin);
}

.order-computation {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
}

.checkout-cont p {
  display: flex;
  justify-content: space-between;
  color: var(--lightest-color);
}

.cart-amount {
  letter-spacing: 0.1rem;
}

.cart-total {
  border-top: 1px solid rgba(255, 245, 224, 0.3);
  padding: var(--padding) 0;
  font-size: 1.2rem;

  /* background-color: var(--darkest-color); */
}

.cart-total .cart-amount {
  color: var(--comp-color-2);
}

.checkout-cont button {
  padding: var(--padding);
  width: max-content;
  color: var(--lightest-color);
  background-color: var(--triad-color-1);
  text-shadow: 0 1px 3px var(--darkest-color);
  align-self: center;
  font-family: var(--title-font);
  font-size: 1rem;
  border: 1px solid transparent;
  transition: filter 0.2s ease-in-out;
  margin-bottom: var(--margin);
}

.checkout-cont button:hover {
  filter: brightness(1.1);
}

button:not(:disabled):hover {
  cursor: pointer;
}

.checkout-cont button:disabled {
  filter: opacity(0.7);
  cursor: default;
}
/* Cart (start)*/

/* Profile (start) */
.profile-page {
  min-width: 1024px;
  max-width: 1024px;
  margin: auto;
  margin-bottom:300px;
}

.profile-display {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-areas: 
    "profile tabs"
    ". purchase";
  max-width: 1024px;
  margin: auto;
}

.profile-page h2 {
  color: var(--lightest-color);
  margin-bottom: var(--margin);
}

.user-profile {
  grid-area: profile;
  background-color: #30615a;
  width: 350px;
  height: max-content;
  padding: var(--padding);

  display: grid;
  grid-template-columns: 1fr max-content;
}

.user-profile p {
  color: var(--lightest-color);
}

.user-details-cont {
  display: flex;
  flex-direction: column;
}

.profile {
  display: grid;
  grid-template-columns: max-content  1fr;
}

.profile-label {
  width: 70px;
}

.edit-profile-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
 
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--lightest-color);
  color: var(--lightest-color);
}

.edit-profile-btn:hover {
  border: 1px solid var(--base-color);
  color: var(--base-color);
}

/* Edit profile dialog (start) */
dialog {
  margin: 100px auto;
  border: 1px solid transparent;
  background-color: var(--black);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.edit-profile-dialog .dialog-cont {
  border-top: 3px solid var(--darker-color);
  padding: var(--padding);
  min-width: max-content;
  max-width: 450px;
  width: 50vw;

  display: flex;
  flex-direction: column;
}

.dialog-header {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  padding: var(--padding);
  align-items: center;
}

.dialog-header h3 {
  color: var(--lightest-color);
  justify-self: center;
  font-size: 1.2rem;
  margin: var(--margin);
}

.edit-profile.input-cont {
  display: grid;
  grid-template-columns: max-content 1fr;
  padding: var(--padding);
  align-items: center;
}

.edit-profile label {
  min-width: max-content;
  width: 70px;
  font-size: 1rem;
}

.input-cont label[for="user-address"] {
  padding-top: calc(var(--padding) * 0.5);
  align-self: start;
}

.input-cont input, .input-cont textarea {
  padding: calc(var(--padding) * 0.5);
  background-color:rgba(255, 245, 224, 0.1);
  border: 1px solid var(--lightest-color);
  color: var(--lightest-color);
}

.input-cont input.invalid, .input-cont textarea.invalid {
  background-color: rgba(255, 0, 0, 0.3);
  border: 1px solid var(--comp-color-1);
  outline: 1px solid var(--comp-color-1);
}

.input-cont input::placeholder, .input-cont textarea::placeholder {
  color: rgba(255, 245, 224, 0.8);
}

.close-dialog-btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  align-self: end;
  color: var(--lightest-color);
  transition: color 0.2s ease-in-out;

  position: absolute;
  right: 0;
  top: 0;
}

.close-dialog-btn:hover {
  color: var(--base-color);
}

.dialog-cont label {
  color: var(--lightest-color);
}

.action-btns {
  display: flex;
  justify-content: center;
  gap: calc(var(--margin) * 2);
  margin: var(--margin);
}

.action-btns button {
  font-size: 1rem;
  padding: var(--padding);
  min-width: max-content;
  align-self: center;
  width: 100px;
  font-family: var(--title-font);
  text-shadow: 0 2px 5px var(--darkest-color);
  border: 1px solid transparent;
  transition: filter 0.2s ease-in-out;
}

.action-btns button:hover {
  filter: brightness(1.1);
}

.action-btns button:disabled {
  filter: opacity(0.5);
}

.save-btn {
  background-color: var(--triad-color-1);
  color: var(--lightest-color);
  text-shadow: 0 0 5px var(--black);
}

.cancel-btn {
  background-color: var(--lightest-color);
}
/* Edit profile dialog (start) */

.purchase-display {
  grid-area: purchase;
  width: 100%;
}

/* Purchase Tabs */

.purchase-tabs {
  grid-area: tabs;
  display: grid;

  grid-template-columns: max-content 1fr max-content 1fr max-content;
  align-items: center;
  width: 100%;
  padding: calc(var(--padding) * 2) 50px;
  gap: var(--margin);
}

.purchase-tabs hr {
  height: 2px;  
  background-color: var(--base-color);
  border: 1px solid var(--base-color);
  align-self: start;
  margin-top: 30px;
}

.purchase-tabs button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--lightest-color); 
  width: max-content;
  font-size: 1rem;
  background-color: var(--black);
  transition: 200ms;
  border: 1px solid transparent;
}

.purchase-tabs button.active svg {
  background-color: var(--darker-color);
  filter: drop-shadow(0 0 2px var(--base-color));
}

.purchase-tabs button.active span{
  color: var(--darker-color);
}

.purchase-tabs button:hover svg {
  border-color: var(--lightest-color);
  color: var(--lightest-color);
  filter: drop-shadow(0 0 5px var(--base-color));
}

.purchase-tabs button:hover span {
  color: var(--lightest-color);
  text-shadow: 0 0 5px var(--base-color);
}

.purchase-tabs button svg {
  width: 50px;
  height: 50px;
  transition: 200ms;
  border: 3px solid var(--lightest-color);
  padding: var(--padding);
  transform: rotateZ(45deg);
}

.purchase-tabs button svg path {
  transform: rotateZ(-45deg) translateX(-50%) translateY(25%);
}

.purchase-tabs button span {
  margin-top: var(--margin);
  transition: 200ms;
}

/* To Ship (start) */
.to-ship-content {
  display: flex;
  justify-self: start;
  flex-direction: column;
  gap: var(--margin);
  align-items: center;
}

.batch.date {
  padding: var(--padding);
  color: var(--lightest-color);
  font-size: 1rem;
  background-color: rgba(141, 236, 180, 0.1);
}

.batch.details {
  display: grid;
  grid-template-columns: 1fr max-content;
  border-top: 1px solid rgba(255, 245, 224, 0.3);
}

.batch.mailing {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
}

.batch.mailing .send-icon {
  width: 25px;
  height: 25px;
  color: var(--darker-color);
}

.batch.mailing p {
  color: var(--darker-color);
}

.batch.calculate {
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  align-items: end;
}

.batch.calculate p {
  color: var(--lightest-color);
  width: 200px;
  min-width: max-content;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: var(--margin);
  align-items: center;
}

.batch.calculate p span {
  width: 100px;
  min-width: max-content;
  font-size: 1rem;
}

.batch.calculate p span.batch-price {
  letter-spacing: 0.1rem;
  text-align: end;
}

.batch.calculate p.total span.batch-price {
  color: var(--comp-color-2);
}

.batch-container{
  border: 1px solid transparent;
  background-color: rgba(65, 176, 110, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.order-list {
  padding: var(--padding);
  display: grid;
  align-items: center;
  grid-template-columns: max-content 1fr max-content;
  grid-template-areas: 
    "title title title"
    "img . quantity"
    "img . unit-price"
    "img total-price total-price";
}

.order-list p {
  color: var(--lightest-color);
}

.order.preview {
  grid-area: img;
  justify-self: start;
  align-self: start;
  width: 150px;
  object-fit: cover;
  background-color: white;
  height: 100%;
}

.order.title {
  grid-area: title;
  font-size: 1rem;

  display: -webkit-box;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order.prices {
  grid-area: unit-price;
  display: flex;
  justify-self: end;
  align-items: center;
}

.order.prices .disc-price {
  font-size: 1rem;
  color: var(--lightest-color);
  margin-left: var(--margin);
  padding-right: 5px;
}

.order.prices .normal-price {
  text-decoration: line-through;
  font-size: 0.8rem;
  padding: 0 3px;
  filter: opacity(0.8);
}

.order.prices .discount {
  font-size: 0.8rem;
  color: var(--darker-color);
  padding: 0 3px;
  background-color: rgba(141, 236, 180, 0.1);
}

.order.quantity {
  grid-area: quantity;
  justify-self: end;
  padding-right: 5px;
}

.order-list .order.total-price {
  grid-area: total-price;
  justify-self: end;
  text-align: end;
  width: 100%;
  color: var(--base-color);
  background: linear-gradient(0.25turn, transparent, rgba(255, 245, 224, 0.1));
  padding-right: 5px;
}
/* To Ship (start) */

/* To Receive (start) */

.to-receive-content {
  padding: var(--padding);
}
/* To Receive (end) */

/* Loading Screen (start) */
.loading-screen {
  position: fixed;
  top: 25vh;
  right: 0;
  left: 0;

  width: 150px;
  height: 150px;
  margin: auto;
  background-color: #0f394d;
  border: 5px solid var(--lightest-color);
  box-shadow: 0 0 10px 1px var(--darker-color);
  overflow: hidden;
  transform: rotateZ(45deg);
  z-index: 3;
}

.spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateZ(-45deg);
  display: flex;
  flex-direction: column;
  gap: var(--margin);
}

.spinner img {
  width: 40%;
  height: auto;
}

.loading-screen p {
  font-size: 1rem;
  text-align: center;
  color: var(--lightest-color);
  color: var(--darker-color);
}

.loading-screen.hidden {
  display: none;
  visibility: hidden;
}

/* Loading Screen (end) */

/* Footer  (start)*/
footer {
  height: max-content;
  background-color: var(--darkest-color);
  color: var(--lightest-color);
  padding: var(--padding);
  padding-bottom: 100px;
}

div.footer-content {
  max-width: 1024px;
  min-width: 1024px;
  margin: auto;
}

.author-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.footer-content p {
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: calc(var(--margin) * 0.5);
}

.copyright-icon, .github-icon {
  width: 1rem;
  height: 1rem;
}

.github-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  margin: calc(var(--margin) * 0.5);
  gap: 3px;
  text-decoration: none;
  font-family: var(--para-font);
  color: var(--darker-color);
  border-bottom: 1px solid transparent;
}

.github-link:visited {
  color: var(--darker-color);
}

.github-link:hover {
  color: var(--base-color);
  border-bottom: 1px solid var(--base-color);
}

div.footer-content .disclaimer p {
  display: inline-block;
  text-align: center;
  font-size: 1rem;
}

.disclaimer a {
  margin: 0 0.5rem;
  text-wrap: nowrap;
  text-decoration: none;
  color: var(--darker-color);
}

.disclaimer a:visited {
  color: var(--darker-color);
}

.disclaimer a:hover {
  color: var(--base-color);
}
/* Footer  (end)*/