* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --padding: 8px;
  --margin: 16px;
}


.header-cont {
  background-color: aquamarine;
  padding: var(--padding);

 display: flex;
 justify-content: space-between;
}

.page-nav ul{
  display: flex;
  flex-wrap: nowrap;
  gap: var(--margin);
  list-style: none;
}

.shop-page {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.shop-catalog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: var(--margin);
  padding: var(--padding);
}

.filter-sidebar {
  display: flex;
  flex-direction: column;
  gap: var(--margin);
  width: max-content;
  background-color:burlywood;
  padding: var(--padding);
}

.filter-btn {
  padding: var(--padding);
  font-size: 1rem;
}

.shop-item {
  border: 1px solid black;
  padding: var(--padding);
  display: grid;
}

.shop-item * {
  pointer-events: none;
}

.item-preview {
  width: 100px;
  height: 100px;
  object-fit: contain;
  justify-self: center;
}

.pre-cart-menu {
  width: 500px;
  min-width: max-content;
  margin: auto;
}

.dialog-cont {
  width: 100%;
  justify-content: center;
  padding: var(--padding);
  display: grid;
  gap: var(--margin);
  grid-template-columns: max-content 1fr;
  grid-template-areas: 
    '. close-btn'
    'preview desc'
    'qty qty'
    'add-btn add-btn';
}

.pre-cart-menu .close-btn {
  grid-area: close-btn;
  width: max-content;
  padding: var(--padding);
  justify-self: end;
}

.pre-cart-preview {
  grid-area: preview;
  width: 250px;
  height: 250px;
  object-fit: contain;
  border: 1px solid black;
  padding: var(--padding);
}

.item-desc {
  grid-area: desc;
  align-content: end;
}

.qty-controller {
  grid-area: qty;
  display: flex;
  justify-content: space-between;
}

.qty-buttons {
  display: flex;
  gap: var(--margin);
  align-items: center;
  border: 1px solid black;
}

.qty-buttons button {
  width: 30px;
  height: 30px;
  font-size: 1rem;
 

  display: flex;
  justify-content: center;
  align-items: center;
}

.add-btn {
  grid-area: add-btn;
  padding: var(--padding);
  font-size: 1rem;
}

/* Cart (start)*/
.cart-page {
  
}

.cart-page h2 {
  grid-area: page-name;
}

.cart-display {
  max-width: 1024px;
  padding: var(--padding);
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-areas: 
    "items checkout-counter";
  margin: auto;
  gap: var(--margin);
}

.cart-content {
  grid-area: items;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cart-item {
  border: 1px solid black;
  padding: var(--padding);
  display: grid;
  grid-template-columns: max-content max-content 1fr max-content;
  grid-template-rows: max-content max-content 1fr;
  grid-template-areas: 
    "checkbox img title controller"
    "checkbox img price ."
    "checkbox img . total";
}

.cart-item input[type='checkbox'] {
  grid-area: checkbox;
  width: 20px;
  height: 20px;
  align-self: center;
}

.cart-item img {
  grid-area: img;
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.cart-title {
 grid-area: title;
}

.cart-price {
 grid-area: price;
}

.cart-item .qty-controller {
  grid-area: controller;
}

.item-total {
  grid-area: total;
  align-self: end;
  justify-self: end;
}

.checkout-cont {
  grid-area: checkout-counter;
  width: 300px;
  border: 1px solid black;
  padding: var(--padding);
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: var(--margin);
}

.checkout-cont p {
  display: flex;
  justify-content: space-between;
}

.cart-total {
  border-top: 1px solid black;
  padding: var(--padding) 0;
}

.checkout-cont button {
  padding: var(--padding);
  width: max-content;
  background-color: black;
  color: white;
  align-self: center;
}

button:hover {
  cursor: pointer;
}

.checkout-cont button:disabled {
  filter: opacity(0.5);
  cursor: default;
}

/* Cart (start)*/

/* For Shipping (start) */
.to-ship-content {
  display: flex;
  flex-direction: column;
  gap: var(--margin);
  padding: var(--padding);
  align-items: center;
}

.batch-date {
  padding: var(--padding);
}

.batch-total {
  align-self: end;
  padding: var(--padding)
}

.order-batch {
  border: 1px solid black;
  width: 800px;
  display: flex;
  flex-direction: column;
}

.order-list {
  display: grid;
  border: 1px solid gray;
  padding: var(--padding);
  grid-template-columns: max-content 1fr;
  grid-template-areas: 
    "img title"
    "img unit-price"
    "img quantity"
    "img total-price";
  align-items: center;
  column-gap: var(--margin);
}

.order-img {
  grid-area: img;
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.order-title {
  grid-area: title;
}

.order-unit-price {
  grid-area: unit-price;
}

.order-quantity {
  grid-area: quantity;
}

.order-total-price {
  grid-area: total-price;
  color: orangered;
}
